string :it combines letters,symbol,number

In [38]:
name="devi"
print(name)

devi

common string methods
.lower()-it converts small letters
.upper()-it converts capitl lettrs
.strip()-it removes white strips
.replace()-it replaces the letters
.split()-it divides string into split

In [39]:
text="hello" 
print(text.lower())
print(text.upper())
print(text.strip())
print(text.replace("h", "H"))
print(text.split("l"))
print(text.split())
print(text.split("e"))

hello
HELLO
hello
Hello
['he', '', 'o']
['hello']
['h', 'llo']

BOOLEAN;only two values
true
false
used in logical operations and conditions

==equal to

In [40]:
5==5

True

!=not equal to

In [41]:
5!=3

True

greater than

In [42]:
5>3

True

less than

In [43]:
5<3

False

>greater than or equal to

In [44]:
5>=5

True

less than or equal to

In [45]:
5<=5

True

LOGICAL OPERATORS
1.and:both condition must be true
2,or:atleast one condition is true
3,not:reverse the condition

In [46]:
x=16
y=6

print(x>6 and y<16)
print(x>16 and y<6)
print(x==16)

True
False
True

LIST
.ordered
.mutable(can change)
.allows duplicates

In [47]:
fruits=["apple","banana"]
fruits.append("cherry")
print(fruits)

['apple', 'banana', 'cherry']

TUPPLE
.0rdered
.immutable(can't change)
.allows duplicate

In [48]:
colors = ("red", "green", "blue","blue")

 SET
Unordered

No duplicates

Mutable

In [36]:
nums={1,2,3,3}
print(nums)

{1, 2, 3}

 CONDITIONAL STATEMENTS
Used to perform different actions based on conditions.

1.F-the condition is true the program will execute

In [49]:
x = 7

if x > 5:
    print("x is greater than 5")

x is greater than 5

2.IF-ELSE STATEMENT .if the condition is true ,one block runs .if false another block runs

In [50]:
x=3

if x>5:

  print("x is grreater than 5")

else:
  print("x is not greater than 5")

x is not greater than 5

3.IF-ELIF-ELSE STATEMENT .used when you have multiple conditions

In [51]:
marks=85
if marks>=90:
   print("grade A")
elif marks>80:
   print("grade B")
elif marks>70:
   print("grade C")
else:
    print("fail")

grade B

MATCH CASES .match case is like switch case in other languages .it checks one value agains multiple options (cases) .its available from python 3.10

syntax match variable case value1

code block
case value2

code block
case_:

default case

In [52]:
day="sunday"
match day:
  case "monday":
    print("today is monday")
  case"tuesday":
    print("today is tuesday")
  case _:
        print("invalid in day")

invalid in day